.ant-card .ant-card-body {
    padding: 8px 15px;
    border-radius: 8px;
    background-color: rgba(211, 211, 211, 0.33);
    box-shadow: 12px 5px 23px -2px rgba(0, 0, 0, 0.12);
}
.containerFixData{
    display: flex;
    gap: 10px;
}
.fixDataIcon{
    color: rgba(25, 25, 25, 0.53);
    margin-right: 5px;
}