.ant-card .ant-card-body {
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 8px;
    background-color: rgba(211, 211, 211, 0.33);
    box-shadow: 12px 5px 23px -2px rgba(0, 0, 0, 0.12);
}
.ant-card:hover {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgb(178, 177, 177));
}

.cardCollection{
    display: flex;
    gap: 10px;
    margin: 10px;
}

.icon{
    color: rgba(25, 25, 25, 0.53);
    margin-right: 5px;
}